---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const coupons = await getCollection('coupons');
  return coupons.map((entry) => ({
    params: { id: entry.data.id },
    props: { deal: entry.data },
  }));
}

const { deal } = Astro.props;
const url = deal.affiliate_link;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0;url=${url}`} />
    <meta name="robots" content="noindex, nofollow" />
    <title>Redirecting...</title>
  </head>
  <body>
    <script is:inline define:vars={{ url }}>
      window.location.replace(url);
    </script>
  </body>
</html>

